<?xml version="1.0"?>
<robot name="car" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find robot_description)/urdf/material.xacro"/>

    <xacro:property name="base_length" value="0.6" />
    <xacro:property name="base_width" value="0.4" />
    <xacro:property name="base_height" value="0.2" />
    <xacro:property name="wheel_radius" value="0.1" />
    <xacro:property name="wheel_length" value="0.05" />

    <xacro:macro name="wheel_link" params="prefix">
        <link name="${prefix}_wheel_link">
            <visual>
                <geometry>
                    <cylinder radius="${wheel_radius}" length="${wheel_length}" />
                </geometry>
                <origin xyz="0 0 0" rpy="${pi / 2.0} 0 0"/>
                <material name="black"/>
            </visual>
            <collision>
            <origin xyz="0 0 0" rpy="${pi / 2.0} 0 0"/>
            <geometry>
                <cylinder radius="${wheel_radius}" length="${wheel_length}"/>
            </geometry>
        </collision>
        </link>
    </xacro:macro>

    <link name="base_link">
        <visual>
            <geometry>
                <box size="${base_length} ${base_width} ${base_height}"/>
            </geometry>
            <origin xyz="0 0 ${base_height / 2.0}" rpy="0 0 0" />
            <material name="gray"/>
        </visual>
        <collision>
            <geometry>
                <box size="${base_length} ${base_width / 2.0} ${base_height}"/>
            </geometry>
            <origin xyz="0 0 ${base_height / 2.0}" rpy="0 0 0" />
        </collision>
    </link>

    <xacro:wheel_link prefix="rightBack" />
    <xacro:wheel_link prefix="leftBack" />
    <xacro:wheel_link prefix="rightFront" />
    <xacro:wheel_link prefix="leftFront" />

    <!-- dummy link for fonrt wheel to steer -->
    <link name="rightFront_steer_link"/>
    <link name="leftFront_steer_link"/>
    <link name="base_footprint" />

    <joint name="base_rightBack_wheel_joint" type="continuous">
        <parent link="base_link" />
        <child link="rightBack_wheel_link" />
        <origin xyz="${-base_length / 4.0} ${-(base_width + wheel_length) / 2.0} ${base_height / 6}" rpy="0 0 0"/>
        <axis xyz="0 1 0" />
    </joint>
    <joint name="base_leftBack_wheel_joint" type="continuous">
        <parent link="base_link" />
        <child link="leftBack_wheel_link" />
        <origin xyz="${-base_length / 4.0} ${(base_width + wheel_length) / 2.0} ${base_height / 6}" rpy="0 0 0"/>
        <axis xyz="0 1 0" />
    </joint>
    <joint name="base_rightFront_steer_joint" type="revolute">
        <parent link="base_link"/>
        <child link="rightFront_steer_link" />
        <origin xyz="${base_length / 4.0} ${-(base_width + wheel_length) / 2.0} ${base_height / 6}" rpy="0 0 0"/>
        <axis xyz="0 0 1" />
        <limit lower="-0.6" upper="0.6" effort="10.0" velocity="2.0"/>
    </joint>
    <joint name="base_rightFront_wheel_joint" type="continuous">
        <parent link="rightFront_steer_link" />
        <child link="rightFront_wheel_link" />
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <axis xyz="0 1 0" />
    </joint>
    <joint name="base_leftFront_steer_joint" type="revolute"> 
        <parent link="base_link"/>
        <child link="leftFront_steer_link" />
        <origin xyz="${base_length / 4.0} ${(base_width + wheel_length) / 2.0} ${base_height / 6}" rpy="0 0 0"/>
        <axis xyz="0 0 1" />
        <limit lower="-0.6" upper="0.6" effort="10.0" velocity="2.0"/>
    </joint>
    <joint name="base_leftFront_wheel_joint" type="continuous">
        <parent link="leftFront_steer_link" />
        <child link="leftFront_wheel_link" />
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <axis xyz="0 1 0" />
    </joint>
    <joint name="base_joint" type="fixed">
        <parent link="base_footprint" />
        <child link="base_link" />
        <origin xyz="0 0 ${wheel_radius}" />
    </joint>
</robot>